.index {
  flex-direction: column;
  min-height: 100%;
  width: 100%;
  .header {
    padding: 20px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 0 20px 2px rgba(0,0,0,.09);
    .tab {
      flex: 1;
      font-size: 25px;
      display: flex;
      align-items: center;
      justify-content: center;

      .tab-item {
        position: relative;
        margin: 0 20px;
        width: 150px;
        text-align: center;
        
        &::after {
          transition: transform ease-in .2s;
          content: '';
          position: absolute;
          left: 30%;
          bottom: -6px;
          width: 40%;
          height: 5px;
          transform: scaleX(0.0001);
          background-color: #409EFF;
        }

        &.active::after {
          transform: scaleY(1);
        }
      }
    }
  }

  .body {
    padding: 10px;
    background-color: #eee;
    
  }
}
